
.root {

}

.children {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  flex-basis: 100%;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  flex: 1 1 auto;
}
