/* Application */

:local .root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:local .appBar {
  position: sticky;
}

:local .routeContainer {
  overflow: hidden;
  flex: 1 1 auto;
  height: calc(100% - 64px);
}
